<!doctype html>
<html data-theme="dark" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  </head>
  <body>

    <main class="container">
      <nav>
        <ul>
          <li><strong>Chiuzon</strong></li>
        </ul>
        <ul>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </nav>

      <section>
        {{ content }}
      </section>
    </main>
  </body>
</html>