<!doctype html>
<html data-theme="dark" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/style.css">
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <div class="brand">Chiuzon</div>
        </div>
        <div class="nav-right">
          <div class="tabs">
            <a>Articles</a>
            <a>Audits</a>
          </div>
        </div>
      </nav>

      <section>
        {{ content }}
      </section>
    </div>
  </body>
</html>