<!doctype html>
<html data-theme="dark" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta charset="utf-8">
    <title>{{ page.title }} / chiuzon</title>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a class="brand no" href="/">Chiuzon</a>
        </div>
        <div class="nav-right">
          <a href="https://twitter.com/chiuzon">twitter/@chiuzon</a>
          <a href="https://github.com/chiuzon">github/@chiuzon</a>
        </div>
      </nav>

      <section>
        {{ content }}
      </section>
    </div>
  </body>
</html>